@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UniDocuments.App.Client.Web.Infrastructure.ViewModels.Account.UpdateAccountViewModel
@{
    ViewData["Title"] = "Обновление профиля";
}

<section class="mt-4">
    <form asp-action="Update" asp-controller="Profile" asp-anti-forgery="true" enctype="multipart/form-data">
        <input hidden asp-for="OldFirstName"/>
        <input hidden asp-for="OldLastName"/>
        <input hidden asp-for="OldUserName"/>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile">
                                    <h5 class="info">@Model.OldFirstName @Model.OldLastName</h5>
                                    <hr class="mt-0 mb-4 bg-white">
                                    <h6 class="info">Ник: @Model.OldUserName</h6>
                                    <h6 class="info">Статус: @Model.RoleView</h6>
                                    <h6 class="info">Роль: @Model.AppRoleView</h6>
                                    <h6 class="info">Дата регистрации: @Model.JoinDate.ToLocalTime().ToShortDateString()</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card bg-dark h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="text-white mt-2">Персональные данные</h6>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label asp-for="FirstName" class="text-white-50 mb-2">Обновить имя</label><br/>
                                        <input type="text" asp-for="FirstName" class="form-control placeholder-glow"
                                               value="@(Model.OldFirstName)"/>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4  col-12">
                                    <div class="form-group">
                                        <label asp-for="LastName" class="text-white-50 mb-2">Обновить фамилию</label><br/>
                                        <input type="text" asp-for="LastName" class="form-control"
                                               value="@(Model.OldLastName)"
                                               placeholder="@Model.OldLastName"/>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4  col-12">
                                    <div class="form-group">
                                        <label asp-for="UserName" class="text-white-50 mb-2">Обновить ник</label><br/>
                                        <input type="text" asp-for="UserName" class="form-control"
                                               value="@(Model.OldUserName)"
                                               placeholder="@Model.UserName"/>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="text-primary text-white">Пароли</h6>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label asp-for="OldPassword" class="text-white-50 mb-2">Подтвердите пароль</label><br/>
                                        <input type="password" class="form-control" asp-for="OldPassword"/>
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label asp-for="NewPassword" class="text-white-50 mb-2">Новый пароль</label><br/>
                                        <input type="password" class="form-control" asp-for="NewPassword"/>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label asp-for="NewPasswordConfirm" class="text-white-50 mb-2">Новый пароль</label><br/>
                                        <input type="password" class="form-control" asp-for="NewPasswordConfirm"/>
                                        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <h5 class="h5 text-danger">@Model.ErrorMessage</h5>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <a asp-action="Details" asp-controller="Profile" class="btn btn-secondary">
                                        Отменить
                                    </a>
                                    <button class="btn btn-primary" type="submit">Обновить профиль</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


@section Styles
{
    <link rel="stylesheet" href="~/css/account_update.css" asp-append-version="true"/>
}