@model NeuralTrainResultDoc2Vec

@{
    Layout = "_Layout";
    ViewData["Title"] = "doc2vec";
}

<section>
    <div class="container my-4">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8">
                <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center box">
                        <div class="mb-md-2 mt-md-2">
                            <h2 class="fw-bold text-uppercase mb-3">Результат обучения:</h2>
                            <h4 class="fw-bold mb-3">Модель: @Model.Name</h4>
                            <h4 class="fw-bold mb-3">Количество эпох: @Model.Epochs</h4>
                            <h4 class="fw-bold mb-3">Размер вектора документа: @Model.EmbeddingSize</h4>
                            <h4 class="fw-bold mb-3">Dm: @Model.Dm</h4>
                            <h4 class="fw-bold mb-3">Alpha: @Model.LearningRate</h4>
                            <h4 class="fw-bold mb-3">MinAlpha: @Model.MinAlpha</h4>
                            <h4 class="fw-bold mb-3">Минимальное количество слов для учета: @Model.MinWordsCount</h4>
                            <h4 class="fw-bold mb-3">Количество потоков: @Model.WorkersCount</h4>
                            <h3 class="fw-bold mb-3 text-success">Время: @Model.TrainTime.ToString("g")</h3>
                            
                            @if (Model.IsError())
                            {
                                <h3 class="fw-bold mb-3 text-danger">Ошибка: @Model.ErrorMessage</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/Account/auth.css" asp-append-version="true"/>
}
